################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InspectionsAPI/.vs/InspectionsAPI/v16
