################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InspectionsAPI/.vs/InspectionsAPI/v16
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/staticwebassets/InspectionsAPI.StaticWebAssets.xml
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/appsettings.json
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/InspectionsAPI.deps.json
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/InspectionsAPI.dll
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/InspectionsAPI.exe
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/InspectionsAPI.pdb
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/InspectionsAPI.runtimeconfig.dev.json
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/InspectionsAPI.runtimeconfig.json
InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csproj.FileListAbsolute.txt
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csprojAssemblyReference.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.dll
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.exe
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.MvcApplicationPartsAssemblyInfo.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.pdb
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.RazorTargetAssemblyInfo.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/staticwebassets/InspectionsAPI.StaticWebAssets.Manifest.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csprojAssemblyReference.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csprojAssemblyReference.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csprojAssemblyReference.cache
/InspectionsAPI/InspectionsAPI/bin/Debug/netcoreapp3.1
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.assets.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csproj.CopyComplete
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csprojAssemblyReference.cache
InspectionsAPI/InspectionsAPI/obj/project.assets.json
InspectionsAPI/InspectionsAPI/obj/InspectionsAPI.csproj.nuget.g.props
InspectionsAPI/InspectionsAPI/obj/InspectionsAPI.csproj.nuget.dgspec.json
InspectionsAPI/InspectionsAPI/obj/InspectionsAPI.csproj.nuget.cache
InspectionsAPI/InspectionsAPI/obj/InspectionsAPI.csproj.nuget.dgspec.json
InspectionsAPI/InspectionsAPI/obj/InspectionsAPI.csproj.nuget.g.props
InspectionsAPI/InspectionsAPI/obj/InspectionsAPI.csproj.nuget.g.targets
InspectionsAPI/InspectionsAPI/obj/project.assets.json
InspectionsAPI/InspectionsAPI/obj/project.nuget.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/apphost.exe
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.assets.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csproj.AssemblyReference.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.csproj.CoreCompileInputs.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.genruntimeconfig.cache
InspectionsAPI/InspectionsAPI/obj/Debug/netcoreapp3.1/InspectionsAPI.MvcApplicationPartsAssemblyInfo.cs
InspectionsAPI/InspectionsAPI/obj/InspectionsAPI.csproj.nuget.dgspec.json
/InspectionsAPI/InspectionsAPI/bin/Debug/net5.0
