<br><br>

<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="inspectionForm">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="full">
            <mat-label>Inspector</mat-label>
            <mat-select formControlName="inspectorId">
              <mat-option *ngFor="let inspector of inspectors" [value]="inspector.id">
                {{inspector.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full">
            <mat-label>Status</mat-label>
            <mat-select formControlName="statusId">
              <mat-option *ngFor="let status of statuses" [value]="status.id">
                {{status.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full">
            <input matInput placeholder="Customer Name" formControlName="customer" maxlength="100">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full">
            <input matInput [matDatepicker]="inspectionDate" placeholder="Inspection Date"
              formControlName="inspectionDate">
            <mat-datepicker-toggle matSuffix [for]="inspectionDate"></mat-datepicker-toggle>
            <mat-datepicker #inspectionDate></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full">
            <input matInput placeholder="Address" formControlName="address" maxlength="500">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full">
            <input matInput placeholder="Observations" formControlName="observations" maxlength="1000">
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-12">
          <div class="pull-right">
            <button mat-raised-button color="primary" type="submit" [disabled]="!inspectionForm.valid">Save</button>
            &nbsp;
            <button mat-raised-button color="warn" routerLink="/inspections">Back</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
